.hover-show-visible-base:not(:hover) .hover-show-visible {
  visibility: hidden;
}

.hover-show-display-base:not(:hover) .hover-show-display {
  display: none;
}

.border-between-large > *:not(:last-child) {
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 4px solid #2f2f2f;
}

.border-between > *:not(:last-child) {
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 2px solid #2f2f2f;
}

.border-between-small > *:not(:last-child) {
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #2f2f2f;
}

.spacing-between-large > *:not(:last-child) {
  margin-bottom: 2rem;
}
.spacing-between-large > *:last-child {
  margin-bottom: 0;
}

.spacing-between > *:not(:last-child) {
  margin-bottom: 1.25rem;
}
.spacing-between > *:last-child {
  margin-bottom: 0;
}

.spacing-between-small > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
.spacing-between-small > *:last-child {
  margin-bottom: 0;
}

.vspace-between-small > *:not(:first-child) {
  margin-left: 0.5rem;
}
.vspace-between-small > *:first-child {
  margin-left: 0;
}

.vspace-between-small-r > *:not(:last-child) {
  margin-right: 0.5rem;
}
.vspace-between-small-r > *:last-child {
  margin-right: 0;
}

body, .modal-content {
  background-color: #242424;
}

.content, .modal-content {
  text-align: center;
  color: #ffffff;
}
.content a, .modal-content a {
  color: #757246;
}
.content a:hover, .modal-content a:hover {
  color: #898652;
}
.content a.button, .modal-content a.button {
  color: inherit;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6,
.content .h1, .content .h2, .content .h3, .content .h4, .content .h5, .content .h6, .modal-content h1, .modal-content h2, .modal-content h3, .modal-content h4, .modal-content h5, .modal-content h6,
.modal-content .h1, .modal-content .h2, .modal-content .h3, .modal-content .h4, .modal-content .h5, .modal-content .h6 {
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.content h1, .content .h1, .modal-content h1, .modal-content .h1 {
  font-size: 2rem;
}
.content h2, .content .h2, .modal-content h2, .modal-content .h2 {
  font-size: 1.75rem;
}
.content h3, .content .h3, .modal-content h3, .modal-content .h3 {
  font-size: 1.5rem;
}
.content h4, .content .h4, .modal-content h4, .modal-content .h4 {
  font-size: 1.25rem;
}
.content h5, .content .h5, .modal-content h5, .modal-content .h5 {
  font-size: 1rem;
}
.content h6, .content .h6, .modal-content h6, .modal-content .h6 {
  font-size: 1rem;
}

.nav-container, .toast-container, .recipe-container {
  max-width: 500px;
}

.nav-container {
  padding-left: 0.5rem;
}

.recipe-container {
  padding: 1em 0.5em;
}

.toast-container > .toast {
  margin: 1em 0.5em;
}

.markdown-wrapper p {
  margin-bottom: 0.5rem;
}
.markdown-wrapper h1, .markdown-wrapper h2, .markdown-wrapper h3, .markdown-wrapper h4, .markdown-wrapper h5, .markdown-wrapper h6 {
  color: #ffffff;
  margin-bottom: 0.25rem;
}
.markdown-wrapper h1 {
  font-size: 1.5rem;
}
.markdown-wrapper h2 {
  font-size: 1.25rem;
}
.markdown-wrapper h3 {
  font-size: 1rem;
}
.markdown-wrapper h4, .markdown-wrapper h5, .markdown-wrapper h6 {
  font-size: 1rem;
}
.markdown-wrapper ol, .markdown-wrapper ul {
  padding: 0;
  list-style-position: inside;
}
.markdown-wrapper li::marker {
  color: #ffffff;
}

.ingredients-table {
  width: 100%;
}
.ingredients-table > .ingredients-row-wrapper {
  display: flex;
}
.ingredients-table > .ingredients-row-wrapper:nth-child(odd) {
  border-radius: 0.5rem;
  background-color: #2f2f2f;
}
.ingredients-table > .ingredients-row-wrapper:nth-child(odd) input {
  border-color: #4e4e4e;
}
.ingredients-table > .ingredients-row-wrapper:nth-child(odd) .tool-button {
  border-color: #4e4e4e;
  background-color: #2f2f2f;
}
.ingredients-table > .ingredients-row-wrapper:nth-child(odd) .tool-button:hover {
  text-decoration: none;
  background-color: #393939;
}
.ingredients-table > .ingredients-row-wrapper:nth-child(odd) .tool-button:disabled {
  opacity: 0.65;
}
.ingredients-table > .ingredients-row-wrapper .ingredient-amount {
  width: 40%;
  text-align: right;
  padding: 0.5em 0.25em 0.5em 0.5em;
}
.ingredients-table > .ingredients-row-wrapper .ingredient-name {
  width: 60%;
  text-align: left;
  padding: 0.5em 0.5em 0.5em 0.25em;
}

input[type=number].remove-number-arrows {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button.remove-number-arrows,
input::-webkit-inner-spin-button.remove-number-arrows {
  -webkit-appearance: none;
  margin: 0;
}

#scale-ingredient-wrapper {
  display: flex;
  text-align: left;
}

#scale-ingredient-amount {
  flex-basis: 5em;
  flex-grow: 0;
  flex-shrink: 0;
}

input:hover {
  color: aliceblue;
}

input, select, button {
  border-radius: 0.25em;
}

select option {
  background-color: #2f2f2f;
  color: inherit;
}

input, textarea, select {
  border: 1px solid #454545;
  padding: 0.2em 0.5em;
  text-align: inherit;
  background-color: inherit;
  color: inherit;
  min-width: 0;
  width: 100%;
}

textarea {
  width: 100%;
  overflow-x: auto;
  resize: vertical;
  text-align: left;
  padding: 0.5em;
}
textarea#instructions {
  min-height: 20em;
}

.editable .ingredient-amount, .editable .ingredient-name {
  display: flex;
  align-items: center;
}
.editable .ingredient-unit-input {
  flex-basis: 4.3em;
  flex-shrink: 0;
}
.editable .ingredient-amount-input {
  flex-basis: 4em;
  flex-grow: 1;
}
.editable .ingredient-name-input {
  width: 100%;
}

.nav-button, .tool-button, .text-button {
  background: none;
  border: none;
  color: inherit;
}
.nav-button:focus, .tool-button:focus, .text-button:focus {
  outline: none;
}

.text-button {
  border: 1px solid #2f2f2f;
  background-color: #242424;
}
.text-button:hover {
  text-decoration: none;
  background-color: #2f2f2f;
}
.text-button:disabled {
  opacity: 0.65;
}

.tool-button {
  padding: 0.25em;
  background-color: #242424;
  text-align: center;
}
.tool-button:hover {
  text-decoration: none;
  background-color: #2f2f2f;
}
.tool-button:disabled {
  opacity: 0.65;
}
.tool-button.fa {
  width: 1.5em;
  height: 1.5em;
}

.section {
  background-color: #272727;
  padding: 0.5em;
  border-radius: 0.5em;
}
.section input, .section textarea, .section select {
  border-color: #474747;
}
.section .text-button {
  border-color: #474747;
}
.section .text-button, .section .tool-button {
  background-color: #272727;
}
.section .text-button:hover, .section .tool-button:hover {
  text-decoration: none;
  background-color: #323232;
}
.section .text-button:disabled, .section .tool-button:disabled {
  opacity: 0.65;
}

.toolbar {
  display: flex;
  align-items: center;
}

.toolbar-wrapper {
  display: flex;
  flex-direction: row;
}
.toolbar-wrapper > .toolbar-3 {
  flex: 1 0 5.5em;
}
.toolbar-wrapper > .toolbar-1 {
  flex: 1 0 1.5em;
}
.toolbar-wrapper > .toolbar-center {
  flex-grow: 2;
}
.toolbar-wrapper > .toolbar-left {
  justify-content: flex-start;
}
.toolbar-wrapper > .toolbar-right {
  justify-content: flex-end;
}
.toolbar-wrapper > .toolbar-left,
.toolbar-wrapper > .toolbar-right {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.toolbar-center input.editable, .submit-button, .delete-recipe-button {
  width: 100%;
}

#button-add-section {
  font-size: 2rem;
}

#defaults {
  display: none;
}

.recipes-list {
  list-style: none;
  padding: 0;
}
.recipes-list > li {
  padding: 0.25rem;
}

.toast {
  background-color: #2f2f2f;
}

#toast-submit-failed {
  max-width: unset;
}

.navbar-nav {
  flex-direction: row;
}

.nav-button.fa, .nav-link.fa {
  font-size: 1.5rem;
  width: 2.5rem;
  text-align: center;
}

.nav-button {
  color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem 0.5rem;
}
.nav-button:disabled {
  color: rgba(255, 255, 255, 0.25);
}
.nav-button:hover:not(:disabled) {
  color: rgba(255, 255, 255, 0.75);
}

#delete-recipe-modal-button {
  color: rgba(255, 140, 140, 0.6);
}
#delete-recipe-modal-button:disabled {
  color: rgba(255, 140, 140, 0.25);
}
#delete-recipe-modal-button:hover:not(:disabled) {
  color: rgba(255, 140, 140, 0.75);
}

.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.6);
}
.navbar-dark .navbar-brand:disabled {
  color: rgba(255, 255, 255, 0.25);
}
.navbar-dark .navbar-brand:hover:not(:disabled) {
  color: rgba(255, 255, 255, 0.75);
}

.modal-header, .modal-footer {
  border-color: #2f2f2f;
}

.text-content {
  color: #ededed;
}

.text-block {
  text-align: justify;
}

#recipe-edit-form .h1, #recipe-edit-form .h2, #recipe-edit-form .h3, #recipe-edit-form .h4, #recipe-edit-form .h5, #recipe-edit-form .h6 {
  text-transform: initial;
}

/*# sourceMappingURL=main.css.map */
