body, .modal-content {
  background-color: #222;
}

.content {
  text-align: center;
  color: #d4dadd;
}
.content a {
  color: #919077;
}
.content a.button {
  color: inherit;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6,
.content .h1, .content .h2, .content .h3, .content .h4, .content .h5, .content .h6 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.content h1, .content .h1 {
  font-size: 1.75rem;
}
.content h2, .content .h2 {
  font-size: 1.5rem;
}
.content h3, .content .h3 {
  font-size: 1.25rem;
}
.content h4, .content .h4 {
  font-size: 1rem;
}
.content h5, .content .h5 {
  font-size: 1.25rem;
}
.content h6, .content .h6 {
  font-size: 1rem;
}

.nav-container, .toast-container, .recipe-container {
  max-width: 500px;
}

.nav-container {
  padding-left: 0.5rem;
}

.recipe-container {
  padding: 1em 0.5em;
}

.toast-container > .toast {
  margin: 1em 0.5em;
}

.markdown-wrapper p {
  margin-bottom: 0.5rem;
}
.markdown-wrapper h1, .markdown-wrapper h2, .markdown-wrapper h3, .markdown-wrapper h4, .markdown-wrapper h5, .markdown-wrapper h6 {
  color: #d4dadd;
  margin-bottom: 0.25rem;
}
.markdown-wrapper h1 {
  font-size: 1.25rem;
}
.markdown-wrapper h2 {
  font-size: 1rem;
}
.markdown-wrapper h3 {
  font-size: 1rem;
}
.markdown-wrapper h4, .markdown-wrapper h5, .markdown-wrapper h6 {
  font-size: 1rem;
}
.markdown-wrapper ol, .markdown-wrapper ul {
  padding: 0;
  list-style-position: inside;
}
.markdown-wrapper li::marker {
  color: #d4dadd;
}

.ingredients-table {
  width: 100%;
}
.ingredients-table > *:nth-child(even) {
  background-color: #454545;
}
.ingredients-table .ingredient-amount {
  width: 40%;
  text-align: right;
  padding: 0.5em 0.25em 0.5em 0.5em;
}
.ingredients-table .ingredient-name {
  width: 60%;
  text-align: left;
  padding: 0.5em 0.5em 0.5em 0.25em;
}
.ingredients-table .ingredients-row-wrapper {
  display: flex;
}
.ingredients-table .ingredient-unit-input {
  flex-basis: 4.3em;
  min-width: 0;
  flex-shrink: 0;
}
.ingredients-table .ingredient-amount-input {
  flex-basis: 4em;
  min-width: 0;
  flex-grow: 1;
}
.ingredients-table .ingredient-name-input {
  width: 100%;
}

.editable .ingredients-table > *:nth-child(even) input {
  border: 1px solid #222;
}
.editable .ingredient-amount, .editable .ingredient-name {
  display: flex;
  align-items: center;
}
.editable input:hover {
  color: aliceblue;
}
.editable input, .editable textarea {
  border: 1px solid #454545;
  padding: 0.2em 0.5em;
  text-align: inherit;
  background-color: inherit;
  color: inherit;
  min-width: 0;
  width: 100%;
}
.editable textarea {
  width: 100%;
  overflow-x: auto;
  resize: vertical;
  text-align: left;
  padding: 0.5em;
}
.editable textarea#instructions {
  min-height: 20em;
}

.nav-button, .tool-button {
  background: none;
  border: none;
  color: inherit;
}
.nav-button:focus, .tool-button:focus {
  outline: none;
}

.tool-button {
  padding: 0.25em;
  vertical-align: middle;
  text-align: center;
}
.tool-button:hover {
  text-decoration: none;
  background-color: #454545;
}
.tool-button.fa {
  width: 1.5em;
  height: 1.5em;
}
.tool-button:disabled {
  opacity: 0.65;
}

.toolbar {
  display: flex;
  align-items: center;
}

.toolbar-wrapper {
  display: flex;
  flex-direction: row;
}

.toolbar-3 {
  flex: 1 0 5.5em;
}

.toolbar-1 {
  flex: 1 0 1.5em;
}

.toolbar-center {
  flex-grow: 2;
}

.toolbar-left {
  justify-content: flex-start;
}

.toolbar-right {
  justify-content: flex-end;
}

.toolbar-wrapper > .toolbar-left {
  margin-left: 0.5em;
}
.toolbar-wrapper > .toolbar-right {
  margin-right: 0.5em;
}

.toolbar-center input.editable, .submit-button, .delete-recipe-button {
  width: 100%;
}

.button-add-section {
  font-size: 2rem;
}

#defaults {
  display: none;
}

.recipes-list {
  list-style-position: inside;
  padding: 0;
}
.recipes-list > li {
  padding: 0.125rem;
}

.toast {
  background-color: #454545;
}

#toast-submit-failed {
  max-width: unset;
}

.navbar-nav {
  flex-direction: row;
}

.nav-button.fa, .nav-link.fa {
  font-size: 1.5rem;
  width: 2.5rem;
  text-align: center;
}

.nav-button {
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 0.5rem;
}
.nav-button:disabled {
  color: rgba(255, 255, 255, 0.25);
}
.nav-button:hover:not(:disabled) {
  color: rgba(255, 255, 255, 0.75);
}

#delete-recipe-modal-button {
  color: rgba(255, 140, 140, 0.5);
}
#delete-recipe-modal-button:disabled {
  color: rgba(255, 140, 140, 0.25);
}
#delete-recipe-modal-button:hover:not(:disabled) {
  color: rgba(255, 140, 140, 0.75);
}

.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-dark .navbar-brand:disabled {
  color: rgba(255, 255, 255, 0.25);
}
.navbar-dark .navbar-brand:hover:not(:disabled) {
  color: rgba(255, 255, 255, 0.75);
}

.modal-header, .modal-footer {
  border-color: #454545;
}

.text-content {
  color: #bbb;
}

/*# sourceMappingURL=main.css.map */
