{{- define "entry" -}}
    <a href="{{ .BaseUrl }}/recipe/{{ .Id }}">{{ .Recipe.Name }}</a>
    {{- if .Recipe.Description }} <span>&#8211; {{ .Recipe.Description }}</span>{{- end -}}
{{- end -}}
<!DOCTYPE html>
<head>
    {{ template "head.html" . }}
</head>
<body>
    {{ template "navbar.html" (dict "Type" "" "BaseUrl" .BaseUrl) }}
    <div class="content mx-auto recipe-container spacing-between">
        <h1>Rezepte</h1>
        <ul class="recipes-list">
            {{ $b := .BaseUrl }}
            {{ range $k, $v := .Recipes }}
                <li>
                    {{ template "entry" (dict "BaseUrl" $b "Id" $k "Recipe" $v) }}
                </li>
            {{ end }}
        </ul>
    </div>
</body>