{% extends "base.html" %}

{% block title %}Einloggen{% endblock title %}

{% block content %}
<div class="content mx-auto recipe-container spacing-between-large">
    {% if user %}
    <h1>Eingeloggt als <u>{{ user }}</u></h1>
    <div class="section">
        <h2>Andere Sitzungen ausloggen</h2>
        <p>Ausgenommen diese Sitzung.</p>
        <form action="/invalidate-sessions" method="POST">
            <button type="submit" class="btn btn-primary">Ausloggen</button>
        </form>
    </div>
    {% else %}
    <div class="section">
        <h2>Einloggen</h2>
        <form action="/login" method="POST">
            <div class="mb-3">
                <input type="text" placeholder="Username" name="user"
                       aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Passwort" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    <div class="section">
        <h2>Registrieren</h2>
        <p>Ein Administrator muss deinen Account erst freischalten.</p>
        <form action="/register" method="POST">
            <div class="mb-3">
                <input type="text" placeholder="Username" name="user"
                       aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Passwort" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Registrieren</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}
