<!DOCTYPE html>
<head>
    {{ template "head.html" . }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="{{ .BaseUrl }}/static/js/base.js"></script>
    <script src="{{ .BaseUrl }}/static/js/recipe.js"></script>
</head>
<body>
    {{ template "navbar.html" (dict "Type" "recipe" "BaseUrl" .BaseUrl "Id" .Id) }}
    <div class="content mx-auto recipe-container">
        <div class="spacing-between-large">
            <div class="spacing-between-small">
                <h1>{{ .Recipe.Name }}</h1>
                {{- if .Recipe.Description -}}
                    <p class="text-content">{{ .Recipe.Description }}</p>
                {{- end -}}
                {{- if .Recipe.ImagePath -}}
                    <div><img class="parent-sized" src="{{ .Recipe.ImagePath }}"/></div>
                {{- end -}}
            </div>
            {{ if .Recipe.IngredientsSections }}
                <div id="ingredients" class="spacing-between">
                    <h2>Zutaten</h2>
                    {{ with .Recipe.IngredientSummaries }}
                    <div class="spacing-between-small section">
                        <p>Zutaten skalieren</p>
                        <div id="scale-ingredient-wrapper" class="vspace-between-small">
                            <input id="scale-ingredient-amount" class="remove-number-arrows" type="number" min="0" step="0.001" placeholder="Menge" /><select id="scale-ingredient-select">
                            {{- range . -}}
                            <option data-total-amount="{{ .Amount }}">{{ .Name }}{{ if .Unit }} ({{ .Unit }}){{ end }}</option>
                            {{- end -}}
                        </select><button id="scale-ingredient-button" class="text-button">Skalieren</button>
                        </div>
                    </div>
                    {{ end }}
                    <div id="ingredients-sections" class="spacing-between">
                        {{- range .Recipe.IngredientsSections -}}
                            <div class="ingredients-section section">
                                {{- if .Heading -}}
                                    <h4>{{ .Heading }}</h4>
                                {{- end -}}
                                <div class="ingredients-table text-content">
                                    {{- range .Ingredients -}}
                                        <div class="ingredients-row-wrapper"><span class="ingredient-amount"><span class="ingredient-amount-number">{{- .Amount -}}</span>{{ if unitNeedsSpace .Unit }} {{ end }}<span class="ingredient-amount-unit">
                                                    {{- if .Unit }}{{ .Unit }}{{ end -}}</span> </span><span class="ingredient-name">
                                                {{- .Name -}}
                                            </span></div>
                                    {{- end -}}
                                </div>
                            </div>
                        {{- end -}}
                    </div>
                </div>
            {{ end }}
            {{- if .Recipe.Instructions -}}
                <div class="spacing-between-small">
                    <h2>Zubereitung</h2>
                    <div class="text-content text-block markdown-wrapper section">
                        {{ .Recipe.Instructions }}
                    </div>
                </div>
            {{- end -}}
            {{- if .Recipe.Source -}}
                <div class="spacing-between-small">
                    <h2>Quelle</h2>
                    <div class="text-content markdown-wrapper section">
                        {{ .Recipe.Source }}
                    </div>
                </div>
            {{- end -}}
        </div>
    </div>
</body>